.outer-div1{
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: right -15em top -12em;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    padding-left: 5%;
  }
  .info1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap:2rem;
  }
  .mob-image{
      width: 35%;
      margin-top: -2rem;
      margin-bottom: -10rem;
      overflow-x: hidden;
  }
  .outer-div1 h1{
      font-size:220%;
      font-weight:500;
  }

  @media (max-width:480px) {
    .outer-div1{
      overflow: hidden;
      flex-direction: column-reverse;
      padding-right: 5%;
      text-align: center;
      background-image: url("images/bg-intro-mobile.svg");
      background-position: right 0em top 0em;
      background-size: contain;

    }
    .mob-image{
      width:100%;
      margin-top: unset;
      margin-bottom: unset;
    }
    #mob-img{
      width: 100%;
    }
    .info1{
      align-items: center;
      width: 100%;
    }
  }