.outer-div2 {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  margin-left: 6%;
  margin-right: 5%;
}

.easy-bank {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.easy-bank-info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.sub-div-easyBank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 16rem;
}

.easy-bank-icon {
  width: 3.6rem;
}

.outer-div2 p{
  font-size: 90%;
}

@media (max-width:480px) {
  .easy-bank {
    text-align: center;
  }
  .easy-bank-info {
    margin: auto;
    justify-content: center;
  }
  .sub-div-easyBank {
    align-items: center;
    padding: 2%;
    text-align: center;
  }
}