.outer-div3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
    gap: 2rem;
  }
  .articles{
    width: 17.5rem;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 4%;
  }
  .article-image{
    border-radius: 1rem 1rem 0rem 0rem;
    height: 12rem;
  }
  .article-info{
    padding: 7%;
  }
  .outer-div3 p{
    font-size: x-small;
    color:grey
  }
  #article-text{
  padding-left: 5%;
  }
  @media (max-width:480px) {
    #article-text{
      text-align: center;
      padding: unset;
    }
  }