
.footer{
    display: flex;
    background-color: #001C30;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    padding-top: 3rem;
    flex-wrap: wrap;
    gap: 3rem;
    color: white;
    
  }
  .logo-social-media{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .social-web{
    width: 1.5rem;
    padding: 0.2rem;
  }
  .extra-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
  }
  .sub-extra-info{
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
  }
  .invite-and-rights{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .logo{
  filter:saturate(2);
  }
  
  .extra-info p, .social-web{
    cursor: pointer;
  }

  @media (max-width:480px) {
    .sub-extra-info{
      align-items: center;
    }
  }