.nav-bar {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    top: 0%;
  }
   a{
    padding: 2%;
    text-decoration: none;
    color: gray;
  }
  a:hover{
    color: black;
  }
  .logo-1{
    padding: 1rem;
    margin: auto;
  }
  .navbar1{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 1rem;
    justify-content: center;
  }
  .invite1{
    margin: auto;
    cursor: pointer;
  }
  #fa-bar, .navbar2, #fa-close {
    display: none;
  }
  .navbar2 a{
    color: black;
  }
  
  
  @media (max-width:480px) {
    .nav-bar {
      justify-content: space-between;
      gap: 3rem;
    }
    .navbar2{
      position: absolute;
      width: 60%;
      background-color: white;
      border-radius: 3%;
      top: 15%;
      left: 10%;
      right: 10%;
      padding: 10%;
      text-align: center;
      display: none;
    }

    #fa-bar, #fa-close{
      display:flex;
      padding-right: 3rem;
      cursor: pointer;
    }
    #fa-close, .invite1, .navbar1{
      display:none;
    }
  }